<div class="flex flex-col divide-y">
  @if(artistResults && artistResults.length) {
    @for(artist of artistResults; track artist.userId) {
      <div class="flex items-center gap-3 py-3 shadow-sm">
        <div class="w-14 h-14 rounded-md overflow-hidden bg-gray-100 flex-shrink-0">
          <img [src]="artist.profilePictureUrl" class="w-full h-full object-cover" alt="Cover art">
        </div>
        <div class="min-w-0 flex-1">
          <p class="font-medium text-gray-900 truncate hover:underline cursor-pointer">{{ artist.name }}</p>
        </div>
      </div>
    }
  } @else {
    <div class="text-gray-500 text-sm py-6 text-center">No Artist</div>
  }
</div>
