<!-- Main Content Area -->
<div class="flex-1 bg-gray-50 h-full overflow-y-auto scrollbar-hide mb-6">
  <div class="p-6 max-w-7xl mx-auto">
    <!-- Albums Grid -->
     <div class="mb-8">
      <h1 class="text-xl font-bold text-gray-900 mb-2">Discover Music</h1>
      <p class="text-gray-600">Explore the latest albums and discover new artists</p>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-4">
      @for (album of albums; track album.id) {
        <div (click)="OpenTrack(album.id)" class="bg-white cursor-pointer rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 overflow-hidden">
                  <div class="aspect-square overflow-hidden">
          <img
            [src]="album.imageUrl"
            [alt]="album.title"
            class="w-full h-full object-cover hover:scale-105 transition-transform duration-300"
          >
        </div>
        <div class="p-3">
          <h3 class="font-semibold text-gray-900 text-sm mb-1 truncate">{{ album.title }}</h3>
          <p class="text-gray-600 text-xs mb-2 truncate">{{ album.artist }}</p>
          <div class="flex items-center justify-between">
            <span class="text-xs text-gray-500">{{ album.year }}</span>
            <span class="text-xs text-gray-500">{{ album.view }} views</span>
          </div>
        </div>
        </div>
      }
    </div>
    <!-- Artists Section -->
     <div class="mb-8 mt-3">
      <h1 class="text-xl font-bold text-gray-900 mb-2">Discover Artists</h1>
      <p class="text-gray-600">Explore the latest artists and their music</p>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-5 gap-6">
    @for (artit of artists; track $index) {
      <div class="flex flex-col items-center text-center cursor-pointer">
        <div (click)="OpenArtist(artit.userId)" class="w-36 h-36 rounded-full overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-300 mb-3">
          <img
            [src]="artit.profilePictureUrl"
            [alt]="artit.name"
            class="w-full h-full object-cover hover:scale-110 transition-transform duration-300"
          >
        </div>
        <h3 class="font-medium text-gray-900 text-xs truncate w-full">{{ artit.name }}</h3>
      </div>
    }
    </div>


  </div>
</div>
